/* .header{
    display:'flex'
            alignItems:'center';
            with: '100%';
            background-color: 'rgba(255, 255,255,0.95';
            color: 'black';
            top: '0';
            left: '0';
            zindex: '1';
} */